<a href="https://colab.research.google.com/github/Kaderye/Pandas-Tutorial/blob/main/Pandas_(Basic).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas (Basic)**

Pandas is a python library. It is use to analyze data.

In [ ]:
# drive mount
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# load a CSV file
import pandas as pd
data=pd.read_csv('/content/drive/My Drive/Data Analyst/Pandas/insurance.csv')
print(data)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
# print the data
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
# print all item
# print(data.to_string)

**Pandas Introduction**

---

**Pandas** has functions for analyzing, cleaning, exploring and manipulating data.

Pandas means 'Panel Data' or 'Python Data Analysis' and was created by Wes McKinney in 2008.

**Pandas Codebase:** https://github.com/pandas-dev/pandas

**Import Pandas**

---

In [ ]:
# import pandas
import pandas

data={
    "Cars": ['BMW', 'Volvo', 'Ford'],
    "Ratings": [5, 4, 3]
}

output=pandas.DataFrame(data)
print(output)

    Cars  Ratings
0    BMW        5
1  Volvo        4
2   Ford        3

In [ ]:
# import pandas as pd
import pandas as pd

data={
    "Cars": ['BMW', 'Volvo', 'Ford'],
    "Ratings": [5, 4, 3]
}

output=pd.DataFrame(data)
print(output)

    Cars  Ratings
0    BMW        5
1  Volvo        4
2   Ford        3

**Checking pandas version**

In [ ]:
# checking pandas version
import pandas as pd
print(pd.__version__)

2.2.2

**Pandas Series**

---

A pandas series is like a column in a table.

It is a 1-D array holding data of any type.

In [ ]:
# create a simple pandas series from a list
import pandas as pd

list1=[2, 3, 4, 5, 6, 7]
data=pd.Series(list1)
print(data)

0    2
1    3
2    4
3    5
4    6
5    7
dtype: int64

In [ ]:
# create a simple pandas series from a list
import pandas as pd
import numpy as np

list1=np.arange(1,10)
data=pd.Series(list1)
print(data)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

**Labels**

In [ ]:
# return the first value of the series
import pandas as pd

list1=[1, 2, 3, 4, 5]
data=pd.Series(list1)
print(data[0])

1

In [ ]:
# return the first three values of the series
import pandas as pd

list1=[1, 2, 3, 4, 5]
data=pd.Series(list1)
print(data[0:3])

0    1
1    2
2    3
dtype: int64

In [ ]:
# return the first three values of the series
import pandas as pd

list1=[1, 2, 3, 4, 5]
data=pd.Series(list1)
print(data[:3])

0    1
1    2
2    3
dtype: int64

In [ ]:
# return the last two values
import pandas as pd

list1=[1, 2, 3, 4, 5]
data=pd.Series(list1)
print(data[3:])

3    4
4    5
dtype: int64

In [ ]:
# return the values of even index
import pandas as pd

list1=[1, 2, 3, 4, 5]
data=pd.Series(list1)
print(data[0:5:2])

0    1
2    3
4    5
dtype: int64

**Crate labels**

In [ ]:
# create lebels
import pandas as pd

names=['Shohan', 'Razon', 'Mizan', 'Nishi', 'Rikta']
data=pd.Series(names, index=['a', 'b', 'c', 'd', 'e'])
print(data)

a    Shohan
b     Razon
c     Mizan
d     Nishi
e     Rikta
dtype: object

**Key or Value Objects as Series**

In [ ]:
# create a simple pandas series from a dictionary
import pandas as pd

walk={'day1': '5km', 'day2': '7km', 'day3': '10km', 'day4': '11km' }
data=pd.Series(walk)
print(data)

day1     5km
day2     7km
day3    10km
day4    11km
dtype: object

**DataFrame**

Data sets in pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column and a DataFrame is the whole table.

In [ ]:
# create a DataFrame
import pandas as pd

data = {
  "Days": ['Saturday', 'Sunday', 'Monday', 'Tuesday'],
  "Walk": ['5km', '9km', '10km', '11km']
}

output = pd.DataFrame(data)
print(output)

       Days  Walk
0  Saturday   5km
1    Sunday   9km
2    Monday  10km
3   Tuesday  11km

**Pandas DataFrames**

---

A pandas DataFrame is a 2-D array in data structure.

In [ ]:
# create a DataFrame
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

output=pd.DataFrame(data)
print(output)

   calories  duration
0       420        50
1       380        40
2       390        45

In [ ]:
# show the location
print(output.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [ ]:
# show the location
print(output.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

In [ ]:
# create labels or index
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

output=pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(output)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [ ]:
# show the locate named indexes
print(output.loc['day3'])

calories    390
duration     45
Name: day3, dtype: int64

**Pandas Read CSV**

---

In [ ]:
# drive mount
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# load and read CSV file
import pandas as pd

data=pd.read_csv('/content/drive/My Drive/Data Analyst/Pandas/insurance.csv')

In [ ]:
# print dataset
print(data)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
# print dataset
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
# print all items
print(data.to_string())

**max_rows**

In [ ]:
# print the number of maximum rows
import pandas as pd
print(pd.options.display.max_rows)

60

In [ ]:
# increase the maximum number of rows to display
import pandas as pd

pd.options.display.max_rows=9999
data=pd.read_csv('/content/drive/My Drive/Data Analyst/Pandas/insurance.csv')
print(data)

**Pandas Read JSON**

---

Big data sets are often stored or extracted as JSON.

JSON is plain text, but has the format of an object.

In [ ]:
# load and read JSON file
import pandas as pd

data=pd.read_json('/content/drive/My Drive/Data Analyst/Pandas/insurance.json')
print(data.to_string())

In [ ]:
# Json file
import pandas as pd

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

output = pd.DataFrame(data)
print(output)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

**Pandas : Analyzing DataFrames**

---

In [ ]:
# drive mount
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# load CSV file
import pandas as pd

data=pd.read_csv('/content/drive/My Drive/Data Analyst/Pandas/insurance.csv')

In [ ]:
# print the dataset
print(data)

In [61]:
# print the first 5 rows
print(data.head(5))

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [62]:
# print the last 5 rows
print(data.tail(5))

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [63]:
# information about the data
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB
None

In [64]:
# describe the data
print(data.describe())

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010